.devere-color {
  background-color: #003366 !important;
}

.devere-text-color {
  color: #003366 !important;
}

.form-group-margin {
  margin-top: 2rem;
}

.select-align {
  float: right;
  width: 10rem;
}

.btn:hover {
  color: #d3d3d3 !important;
}
